@import '/nullstyle.scss';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
body {
  height: 100%;
  line-height: 1;
  font-size: 18px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(63, 200, 196, 1) 87%,
    rgba(0, 212, 255, 1) 100%
  );
  color: white;
  font-family: 'Playfair Display', serif;
}
.form {
  max-width: 550px;
  margin: 0 auto;
  padding: 30px 0;

  &__title {
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 30px;
  }

  &__item {
    margin-bottom: 20px;
  }

  &__label {
    display: block;
    margin-bottom: 10px;
  }

  &__input {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    padding: 0 20px;
  }
  &__input:focus {
    box-shadow: 0 0 15px rgb(255, 251, 0);
  }

  &__input._error {
    box-shadow: 0 0 15px rgb(255, 6, 6);
  }

  textarea.form__input {
    padding: 20px;
    min-height: 120px;
    resize: vertical;
  }

  &__button {
    position: relative;
    width: 100%;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: 18px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    letter-spacing: 2px;
    border-radius: 20px;
    border: 1.5px solid black;
    transition: background-color 0.5s ease;
    cursor: pointer;
    box-shadow: 0 5px 0 rgb(28, 13, 43);
    background: rgb(132, 63, 200);
    background: linear-gradient(
      90deg,
      rgba(132, 63, 200, 1) 0%,
      rgba(47, 132, 149, 1) 100%,
      rgba(2, 0, 36, 1) 100%
    );
  }
  &__button:hover {
    background: rgb(136, 9, 248);
  }
  &__button:active {
    top: 3px;
    box-shadow: 0 1px 0 rgb(28, 13, 43);
  }
}
.options {
  padding-top: 10px;

  &__item {
    margin-bottom: 5px;
  }

  &__input {
    display: none;
  }

  &__input:checked + .options__label::after {
    transform: scale(1);
  }

  &__label {
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    line-height: 1.4;
    align-items: center;
    position: relative;
  }
  &__label::before {
    content: '';
    flex: 0 0 24px;
    align-self: flex-start;
    height: 24px;
    background-color: white;
    border-radius: 50%;
    margin-right: 10px;
  }
  &__label::after {
    transition: transform 0.2s ease;
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 16px;
    height: 16px;
    background: rgb(0, 0, 0);
    background: radial-gradient(
      circle,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 232, 237, 1) 51%,
      rgba(18, 87, 88, 1) 100%
    );
    border-radius: 50%;
    transform: scale(0);
  }
}
.select {
  width: 100%;
  min-height: 30px;
  border-radius: 10px;
}
.file {
  &__item {
    position: relative;
  }

  &__input {
    position: absolute;
    left: 0;
    top: 0;
    width: 23%;
    height: 100%;
    opacity: 0;
    font-size: 0;
    cursor: pointer;
  }

  &__button {
    border: 1.5px solid black;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding: 10px 20px;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(27, 11, 190, 1) 37%,
      rgba(0, 209, 255, 1) 100%
    );
  }

  &__preview {
    display: inline-block;
    max-width: 100px;
    padding-top: 10px;
  }
  &__preview img {
    max-width: 100%;
  }
}
.checkbox._error .checkbox__label::before {
  box-shadow: 0 0 15px rgb(255, 0, 0);
}
.checkbox {
  &__input {
    cursor: pointer;
    display: none;
  }

  &__label {
    position: relative;
    line-height: 1.4;
    display: inline-flex;
  }
  &__label a {
    color: yellow;
  }

  &__label::before {
    flex: 0 0 24px;
    height: 24px;
    background-color: white;
    border-radius: 4px;
    content: '';
    margin-right: 10px;
  }
  &__label::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    top: 4px;
    left: 4px;
    background: rgb(0, 0, 0);
    background: radial-gradient(
      circle,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 232, 237, 1) 51%,
      rgba(18, 87, 88, 1) 100%
    );
    border-radius: 4px;
    transform: scale(0);
    transition: transform 0.2s ease;
  }
  &__input:checked + .checkbox__label::after {
    transform: scale(1);
  }
}

@media (max-width: 757px) {
  .form {
    margin: 0 auto;
    padding: 30px 20px 30px;
    &__title {
      font-size: 30px;
    }
  }
}
